<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.msg.de/xt/mdt/tdsl/TDsl" 
       class = "de.msg.xt.mdt.tdsl.tDsl.TDslPackage"
       genModel = "de/msg/xt/mdt/tdsl/TDsl.genmodel" /> 
	
  </extension>




</plugin>
